@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

.Home {
  font-family: "Comfortaa", cursive;
}

section {
  margin-bottom: 10px;
}

.homeMain {
  width: 70%;
  margin: 0 auto;
}
