.entryContainer {
  text-align: left;
  background-color: aquamarine;
  width: 80%;
  padding: 5px 20px;
  margin: 10px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.entryContainer i {
  font-size: 33px;
}

.iconGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.editLink {
  color: black;
}

.editLink :active {
  color: blue;
}

.editLink :hover {
  color: blue;
}

.addAndSeeContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.addLink,
.seeChart {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
  color: rgb(12, 116, 180);
  font-size: 20px;
}

.addLink i,
.seeChart i {
  font-size: 40px;
}
